
/***************************************

COLORS

******************************************/

$primary-color: #e50f23;
$secondary-color: #342b86;


/***************************************

FONTS

******************************************/

$primary-font: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif ;


