header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  background: black;
  height: auto;
  z-index: 100;

  @include breakpoint(tablet) {
    padding: 0 15px;
  }

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include breakpoint(tablet) {
      justify-content: flex-start;
    }
  }

  a{
    padding: 17px 12px;
    display: block;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    transition: 0.2s ease-in-out;

    @include breakpoint(tablet) {
      font-size: 14px;
    }

    &:hover{
      color: $secondary-color;
    }
  }

  li{
    &:last-child{
      a{
        margin-right: 0;
      }
    }
  }

  .current_page_item{

    a{
      color: $secondary-color;
    }
  }
}

.cd-menu-star{
  position: absolute;
  color: white;
  margin: auto;
  left: 0;
  right: 0;
  width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;


  @include breakpoint(desktop) {
    left: 20px;
    right: auto;
  }

  @include breakpoint(tablet) {
    display: none;
  }

  a{
    font-size: 61px;
    padding: 0;
    height: 100%;
  }
}