// PAGE GENERAL --------------------------------------

.cd-page-section{
  padding-top: 20px;
  padding-bottom: 170px;

  h2{
    color: $secondary-color;
    text-transform: lowercase;
    font-size: 40px;
    margin: 40px 0 50px;
  }
}

.cd-page-left-item{
  position: relative;

  h3, a{
    color: $primary-color;
    font-size: 128px;
    margin: 0 0 6px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;

    @include breakpoint(xl) {
      font-size: 50px;
    }
    @include breakpoint(small) {
      font-size: 10vw;
    }

    &:hover{
      color: $secondary-color;
    }
  }
}

.cd-archive-item{
  h3, a{
    font-size: 80px;
  }
}

.cd-page-item-description{
  position: absolute;
  right: 0;
  top: 50px;
  display: none;
  z-index: 2;

  @include breakpoint(laptop) {
    top: 0;
    position: relative;
  }

  p, a{
    font-size: 14px;
    max-width: 220px;
  }
}

.cd-active-page-item{

  h3{
    color: $secondary-color;
  }
}

//HOME------------------------------------------------

.cd-home-section{
  height: calc(100vh - 53px);
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 90px;
  box-sizing: border-box;
  justify-content: space-between;

  p{
    margin: 0;
    max-width: 543px;
    line-height: 20px;
  }
}

.cd-home-top{
  display: flex;
  justify-content: flex-end;
}




//PROJECTS---------------------------------------------------

.cd-project-section{
  padding-bottom: 0;
}

.cd-project-content{
  padding: 30px 30px 0;
  background: black;
  min-height: calc(100vh - 242px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  position: relative;

  @include breakpoint(desktop) {
    align-items: flex-start;
    justify-content: flex-start;
  }

  p{
    margin: 0;
    text-align: center;
    font-size: 14px;
    max-width: 443px;
    position: relative;
    z-index: 2;

    @include breakpoint(desktop) {
      text-align: left;
      margin: 0 0 40px;
    }
  }

  a{
    height: 150px;
    width: 150px;
    position: absolute;
    display: flex;
    align-items: center;
    img{
      max-width: 100%;
      max-height: 100%;
      position: relative;
    }

    @include breakpoint(desktop) {
      top: 0 !important;
      left: 0 !important;
      bottom: 0;
      right: 0;
      margin-right: 25px;
      margin-bottom: 25px;
      height: auto;
      width: calc(20% - 25px);
      position: relative;
    }
    @include breakpoint(tablet) {
      width: calc(33.3% - 25px);
    }
    @include breakpoint(mobile) {
      width: calc(50% - 25px);
    }
  }
}


.cd-project-description{

  @include breakpoint(desktop) {
    width:100%;
  }
}

.cd-project-images{

  @include breakpoint(desktop) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}




//CONTACT-------------------------------------------------

.cd-contact-section{
  background: black;
}

.cd-contact-form{
  max-width: 700px;
  margin: 0 auto;

  h5{
    margin: 0 0 8px;
    font-size: 18px;
  }

  label{
    font-size: 12px;

    &:first-child{
      input{
        margin-right: 40px;
        width: calc(100% - 40px);
      }
    }
  }

  input{
    line-height: normal;
    background: black;
    border: 1px solid;
    outline: none;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 6px;
    font-size: 16px;
    width: 100%;
    max-width: 333px;


  }
  textarea{
    line-height: normal;
    background: black;
    border: 1px solid;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 6px;
    font-size: 16px;
    width: 100%;
    max-width: 500px;
  }

  input[type=submit]{
    background: $primary-color;
    color: black;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    width: auto;
    height: auto;
    padding: 5px 10px;
    font-size: 17px;
  }
}

.cd-contact-inputs{
  margin-bottom: 30px;
}

.cd-contact-input{
  display: flex;
}


